<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
		<add name="MySql" connectionString="Server=localhost;Port=3306;Database=social_insight;Uid=si_root;Pwd=abc123;use procedure bodies=false;charset=utf8" />		
	</connectionStrings>
	
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="app:id" value="1675"/>
		<add key="app:secret" value="32a55fe1e6824cb3a1b6ca2be6e2d295"/>
		<add key="app:link-title" value="Social Insight"/>
		<add key="app:link" value="/app/{0}/r"/>

		<add key="platform:syw-site-url" value="http://galileo.shopyourway.com/"/>
		<add key="platform:syw-app-login-url" value="app/{0}/login"/>
		<add key="platform:api-url" value="http://galileoplatform.shopyourway.com/"/>
		<add key="platform:secured-api-url" value="https://galileoplatform.shopyourway.com/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>    
</configuration>