@model SocialInsight.Web.UI.Controllers.LandingModel

@{
    ViewBag.Title = "Social Insight Landing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserName Welcome to Social Insight </h2>

<p>You've found a product, but you want to know what your friends are thinking about it?</p>
<p>We are the app for you!</p>
<p>Social Insight enables you to see what your friends are think about any specific product you want to query about</p>
@if (Model.UserAlreadyInstalledApp) {
    <p>To learn more <a href="@Model.DashboardUrl" target="_top">start using Social Insight</a> right now</p>
} else {
	<p>To learn more <a href="@Model.AppLoginUrl" target="_top">Install Social Insight</a> right now</p>
}
