@model SocialInsight.Web.UI.Controllers.PostLoginModel

@{
    ViewBag.Title = "Social Insight - Post Install";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Congradulations - You've just finished installing Social Insight</h2>
<div class="instructions">
	We have created a special catalog for you called <span class="app-name">"Social Insight"</span>. 
	Add products to this catalog and go to your <a href="@Model.DashboardUrl" target="_top">Dashboard</a> to start getting insight from your network
</div>

