@model SocialInsight.Web.UI.Controllers.PostLoginModel

@{
    ViewBag.Title = "Social Insight - Post Install";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Congradulations @Model.UserName - You've just finished installing Social Insight</h2>
<div class="instructions">
	Use the "Add to Social Insight" action on the product page and go to your <a href="@Model.DashboardUrl" target="_top">Dashboard</a> to start getting insight from your network
</div>

