<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="app:id" value="1675"/>
		<add key="app:secret" value="32a55fe1e6824cb3a1b6ca2be6e2d295"/>
		<add key="app:link-title" value="Social Insight"/>
		<add key="app:link" value="/app/{0}/r"/>

		<add key="platform:syw-site-url" value="http://galileo.shopyourway.com/"/>
		<add key="platform:syw-app-login-url" value="app/{0}/login"/>
		<add key="platform:api-url" value="http://galileoplatform.shopyourway.com/"/>
		<add key="platform:secured-api-url" value="https://galileoplatform.shopyourway.com/"/>
	</appSettings>
</configuration>